doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Welcome to WolfDoom
    link(rel='preload' as='image' imagesrcset='https://developergtm.in/wp-content/uploads/2024/05/Untitled-design-2.png' imagesizes='(max-width: 749px) 100vw, 749px')
    link(rel='preload' as='font' href='https://developergtm.in/wp-content/themes/smart-mag/css/icons/fonts/ts-icons.woff2?v3.1' type='font/woff2' crossorigin='anonymous')
    link(rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins&display=swap')
    link(rel='stylesheet' href='./stylesheets/styles.css')
  
  body
    block content